@import url(__triangle/kaufman__triangle.css);
.kaufman{
    background-color: #1F1F1F;
    background-size: cover;
    color: white;
    position:relative;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top:0;
}